{% extends "Admin/card_container.html.twig" %}


{% block card_header %}
    <h1>Abonnements</h1>
{% endblock card_header %}


{% block card_body %}
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de début</th>
                <th>Durée (mois)</th>
                <th>Sap Contract Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for subscription in subscriptions %}
            <tr>
                <td><a href="{{ path('subscriptions_show', { 'id': subscription.id }) }}">{{ subscription.name }}</a></td>
                <td>{% if subscription.startDate %}{{ subscription.startDate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ subscription.monthDuration }}</td>
                <td>{{ subscription.sapContractNumber }}</td>
                <td>
                            <a class="btn btn-primary" href="{{ path('subscriptions_show', { 'id': subscription.id }) }}">Voir</a>
                            <a class="btn btn-outline-primary" href="{{ path('subscriptions_edit', { 'id': subscription.id }) }}">Editer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
{% endblock card_body %}

{% block card_footer %}
    <a class="btn btn-success" href="{{ path('subscriptions_new') }}">Créer un abonnement</a>
{% endblock card_footer %}