{% extends "Admin/card_container.html.twig" %}


{% block card_header %}
    <h1>Produits</h1>
{% endblock card_header %}


{% block card_body %}
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Designation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td><a href="{{ path('products_show', { 'id': product.id }) }}">{{ product.name }}</a></td>
                <td>{{ product.designation }}</td>
                <td>
                            <a class="btn btn-primary" href="{{ path('products_show', { 'id': product.id }) }}">Voir</a>
                            <a class="btn btn-outline-primary" href="{{ path('products_edit', { 'id': product.id }) }}">Editer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock card_body %}

    {% block card_footer %}
        <a class="btn btn-success" href="{{ path('products_new') }}">Créer un produit</a>
    {% endblock card_footer %}
