{% extends "Admin/card_container.html.twig" %}


{% block card_header %}
    <h1>Création Produit</h1>
{% endblock card_header %}


{% block card_body %}
    {{ form_start(form) }} 
   <div class="row"> 
        <div class="col-sm-1">
            {{ form_label(form.name)}}
        </div>
        <div class="col-sm-9">
            {{ form_widget(form.name) }}
        </div>
    </div>
    <div class="row"> 
        <div class="col-sm-1">
            {{ form_label(form.designation)}}
        </div>
        <div class="col-sm-9">
            {{ form_widget(form.designation) }}
        </div>
    </div>
    <div class="row"> 
        <div class="col-sm-1">
            {{ form_label(form.products_licences)}}
        </div>
        <div class="col-sm-9">
            {{ form_widget(form.products_licences) }}
        </div>
    </div>
{% endblock card_body %}

{% block card_footer %}
 <input class="btn btn-success" type="submit" value="Créer" />
  {{ form_end(form) }}
    <a href="{{ path('products_index') }}">Retour à la liste</a>
{% endblock card_footer %}