{% extends "Admin/card_container.html.twig" %}


{% block card_header %}
    <h1>Produit</h1>
{% endblock card_header %}


{% block card_body %}

    <table class="table">
        <tbody>
            
            <tr>
                <th>Nom</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Désignation</th>
                <td>{{ product.designation }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
        </tbody>
    </table>

    
                    
{% endblock card_body %}

{% block card_footer %}
    <a href="{{ path('products_index') }}">Retour à la liste</a>
    <a class="btn btn-primary" href="{{ path('products_edit', { 'id': product.id }) }}">Editer</a> 
    {{ form_start(delete_form)}}
    <input class="btn btn-danger" type="submit" value="Supprimer"> {{ form_end(delete_form) }}
{% endblock card_footer %}
