{% extends "Admin/card_container.html.twig" %}


{% block card_header %}
    <h1>Utilisateurs</h1>
{% endblock card_header %}


{% block card_body %}
    <table class="table">
        <thead>
            <tr>
                <th>Login</th>
                <th>Nom</th>
                <th>Email</th>
                <!--<th>Password</th>-->
                <!--<th>Salt</th>-->
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.login }}</a></td>
                <td>{{ user.firstName}} {{ user.lastName}}</td>
                <td>{{ user.email}} </td>
                <!--<td>{{ user.password }}</td>-->
                <!--<td>{{ user.salt }}</td>-->
                <td>
                    <a class="btn btn-primary" href="{{ path('user_show', { 'id': user.id }) }}">Voir</a>
                    <a class="btn btn-outline-primary" href="{{ path('user_edit', { 'id': user.id }) }}">Editer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock card_body %}

{% block card_footer %}
    <a class="btn btn-success" href="{{ path('user_new') }}">Créer un nouvel utilisateur</a>
{% endblock card_footer %}