{% extends "Admin/card_container.html.twig" %}


{% block card_header %}
    <h1>Users list</h1>
{% endblock card_header %}


{% block card_body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <!--<th>Password</th>-->
                <!--<th>Salt</th>-->
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.login }}</td>
                <!--<td>{{ user.password }}</td>-->
                <!--<td>{{ user.salt }}</td>-->
                <td>
                    <a class="btn btn-primary" href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                    <a class="btn btn-outline-primary" href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success" href="{{ path('user_new') }}">Create a new user</a>
{% endblock card_body %}
