{% extends "Admin/card_container.html.twig" %}


{% block card_header %}
    <h1>User</h1>
{% endblock card_header %}


{% block card_body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ user.login }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Salt</th>
                <td>{{ user.salt }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">Back to the list</a>

    <a class="btn btn-outline-primary" href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>

    {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Delete">
    {{ form_end(delete_form) }}
 {% endblock card_body %}
