{% extends "Admin/card_container.html.twig" %}


{% block card_header %}
    <h1>Clients</h1>
{% endblock card_header %}



{% block card_body %}
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <td><a href="{{ path('clients_show', { 'id': client.id }) }}"></a>{{ client.name }}</td>
            <td>{{ client.description }}</td>
            <td>
                <a class="btn btn-primary" href="{{ path('clients_show', { 'id': client.id }) }}">Voir</a>
                <a class="btn btn-outline-primary" href="{{ path('clients_edit', { 'id': client.id }) }}">Editer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock card_body %}

{% block card_footer %}
    <a class="btn btn-success" href="{{ path('clients_new') }}">Créer un nouveau client</a> 
{% endblock card_footer %}