{% block navigation %}

<header class="app-header navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">EasyCloud</a>
        <ul class="nav navbar-nav d-md-down-none">
            <li class="nav-item px-3">
                <a class="nav-link" href="{{ path('easy_cloud_admin') }}">Dashboard</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="{{ path('clients_index') }}">Clients</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="{{ path('products_index') }}">Produits</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="{{ path('licences_index') }}">Licences</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="{{ path('user_index') }}">Utilisateurs</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="{{ path('subscriptions_index') }}">Abonnements</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="{{ path('planrate_index') }}">PlanRate</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button">
                  {{ app.user.username }}
                </a>
                <div class="dropdown-menu dropdown-menu-right">

                    <div class="dropdown-header text-center">
                        <strong>Compte</strong>
                    </div>
                    <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>

                    <div class="dropdown-header text-center">
                        <strong>Paramètres</strong>
                    </div>

                    <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Facture<span class="badge badge-default">42</span></a>
                    <a class="dropdown-item" href="{{ path('_security_logout') }}"><i class="fa fa-lock"></i> Déconnection</a>
                </div>
            </li>
           {% endif %}
            
        </ul>

    </div>
</header>

{% endblock navigation %}