{% extends "Admin/card_container.html.twig" %}


{% block card_header %}
    <h1>Planrates</h1>
{% endblock card_header %}


{% block card_body %}
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Durée (mois)</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for planRate in planRates %}
            <tr>
                <td>{{ planRate.product }}</td>
                <td>{{ planRate.monthDuration }}</td>
                <td>{{ planRate.id }}</td>
                <td>
                            <a class="btn btn-primary" href="{{ path('planrate_show', { 'id': planRate.id }) }}">Voir</a>
                            <a class="btn btn-outline-primary" href="{{ path('planrate_edit', { 'id': planRate.id }) }}">Editer</a>  
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        

{% endblock card_body %}
{% block card_footer %}
        <a class="btn btn-success" href="{{ path('planrate_new') }}">Créer un planRate</a>
    {% endblock card_footer %}