{% extends "Admin/card_container.html.twig" %}


{% block card_header %}
    <h1>Création Planrate</h1>
{% endblock card_header %}


{% block card_body %}
   {{ form_start(form) }} 

    <div class="form-group row">
        <label class="col-md-1" for="monthDuration">{{ form_label(form.monthDuration) }}</label>
        <div class="col-md-9">{{ form_widget(form.monthDuration) }}</div>
        
    </div>
    
     <div class="form-group row">
        <label class="col-md-1" for="product">{{ form_label(form.product) }}</label>
        <div class="col-md-9">{{ form_widget(form.product) }}</div>
    </div>

   
    
{% endblock card_body %}

{% block card_footer %}
    <a href="{{ path('planrate_index') }}">Retour à la liste</a>

     <input class="btn btn-success" type="submit" value="Créer" /> 
    {{ form_end(form) }}
{% endblock card_footer %}