{% extends "Admin/card_container.html.twig" %}


{% block card_header %}
    <h1>Licences</h1>
{% endblock card_header %}


{% block card_body %}

        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Sku</th>
                    <th>Designation</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for licence in licences %}
                <tr>
                    
                    <td><a href="{{ path('licences_show', { 'id': licence.id }) }}">{{ licence.name }}</a></td>
                    <td>{{ licence.sku }}</td>
                    <td>{{ licence.designation }}</td>
                    <td>
                                <a class="btn btn-primary" href="{{ path('licences_show', { 'id': licence.id }) }}">Voir</a>
                            
                                <a class="btn btn-outline-primary" href="{{ path('licences_edit', { 'id': licence.id }) }}">Editer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>                   
        
       
            
        {% endblock card_body %}

        {% block card_footer %}
             <a class="btn btn-success" href="{{ path('licences_new') }}">Créer une licence</a>
        {% endblock card_footer %}
