{% extends "Admin/card_container.html.twig" %}


{% block card_header %}
    <h1>Licence</h1>
{% endblock card_header %}

{% block card_body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ licence.name }}</td>
            </tr>
            <tr>
                <th>Sku</th>
                <td>{{ licence.sku }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ licence.designation }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ licence.id }}</td>
            </tr>
        </tbody>
    </table>

    
{% endblock card_body %}

{% block card_footer %}
    <a href="{{ path('licences_index') }}">Retour à la liste</a>
    <a class="btn btn-primary" href="{{ path('licences_edit', { 'id': licence.id }) }}">Editer</a>
    
   {{ form_start(delete_form) }}
    <input class="btn btn-danger" type="submit" value="Supprimer"> {{ form_end(delete_form) }}

     
{% endblock card_footer %}
